{% extends 'recetas/base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-4">
            <h2>{{ receta.titulo }}</h2>
            <p class="text-muted">Por {{ receta.autor.username }} - {{ receta.categoria }} - {{ receta.porciones }}
                porciones</p>

            {% if receta.imagen %}
            <img src="{{ receta.imagen.url }}" style="max-width:100%;border-radius:12px;" class="mb-3">
            {% endif %}

            <h4>Ingredientes</h4>
            <p style="white-space: pre-line;">{{ receta.ingredientes }}</p>

            <h4>Pasos</h4>
            <p style="white-space: pre-line;">{{ receta.pasos }}</p>

            <div class="d-flex gap-2 mt-3">
                {% if user.is_authenticated %}
                <a href="{% url 'toggle_favorito' receta.pk %}" class="btn btn-outline-danger">❤ Favorito</a>
                {% endif %}
                <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}